.stock-pic {
  flex: 0 0 6rem;
  height: 100%;
  margin-right: 0.5rem;
  width: 6rem;
  text-align: center;
  box-sizing: border-box;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.photo-display {
  text-align: center;
}

.paw-icon {
  fill: #6A6A6A;
  width: 3rem;
  height: 4rem;
  padding: 4px;
}
