.slideshow-wrapper {
  padding-top: 1rem;
  overflow: auto;
}
.slideshow {
  height: 52vh;
  margin-bottom: 3rem;
  @media (min-width: 600px) {
    height: 46vh;
  }
  @media (min-width: 400px) {
    padding: 0 3rem;
  }
  .slick-slider {
    height: 100%;
    .slick-track {
      height: 100%;
    }
  }
  .slick-list {
    height: 100%;
    background-color: #EEE;
    @media (min-width: 600px) {
      background-color: #FFF;
    }
    img {
      // visibility: hidden;
      padding: 0 0.25rem;
      height: 100%;
      margin: 0 auto;
    }
    .slick-active > img {
      // visibility: visible;
      height: auto;
      @media (min-width: 600px) {
        height: 100%;
      }
    }
  }
  .slick-next, .slick-prev {
    height: 100%;
    width: 2rem;
    visibility: hidden;
    @media (min-width: 600px) {
      visibility: visible;
    }
    &:hover img {
      background-color: #EEF;
    }
    img {
      height: 4rem;
      position: absolute;
      top: 50%;
      margin-top: -2rem;
      border-radius: 5px;
    }
    &:before {
      visibility: hidden;
    }
  }
  .slick-next {
    img {
      margin-left: -0.5rem;
    }
  }
  .slick-prev {
    img {
      margin-left: -1.125rem;
    }
  }
  .mutt-name {
    text-align: center;
  }
}