.slideshow-wrapper {
  padding-top: 1rem;
}
.slideshow {
  height: 26vh;
  margin-bottom: 3rem;
  @media (min-width: 400px) {
    padding: 0 3rem;
  }
  @media (min-width: $mobile) {
    height: 34vh;
  }
  @media (min-width: $large-screen) {
    height: 42vh;
  }
  .slick-slider {
    height: 100%;
    .slick-track {
      height: 100%;
    }
  }
  .slick-list {
    height: 100%;
    @media (min-width: 600px) {
      background-color: #FFF;
    }
    img {
      padding: 0 0.25rem;
      height: 100%;
      margin: 0 auto;
    }
    .slick-active {
      object-fit: contain;
    }
  }
  .slick-next, .slick-prev {
    height: 100%;
    width: 2rem;
    visibility: hidden;
    @media (min-width: 600px) {
      visibility: visible;
    }
    &:hover img {
      background-color: #EEF;
    }
    img {
      height: 4rem;
      position: absolute;
      top: 50%;
      margin-top: -2rem;
      border-radius: 5px;
    }
    &:before {
      visibility: hidden;
    }
  }
  .slick-next {
    img {
      margin-left: -0.5rem;
    }
  }
  .slick-prev {
    img {
      margin-left: -1.125rem;
    }
  }
  .mutt-name {
    text-align: center;
  }
}