#mutt-display {
  .search-row {
    padding: 1rem 1rem 0 2rem;
  }
  .slide-row {
    height: 52vh;
    padding-top: 1rem;
  }
  .guess-row {
    padding: 2rem;
    margin-top: 2.5rem;
    @media (min-width: 600px) {
      margin-top: 1.5rem;
    }
    .current-mutt-section {
      @media (min-width: 1024px) {
        margin-top: 2.25rem;
      }
    }
  }
  .guess-display {
    ul {
      margin-left: 0;
      margin-bottom: 0;
    }
    .top-guesses {
      margin-bottom: 0.5rem;
    }
    &.no-guesses {
      background-color: #A9ABAF;
      cursor: default;
    }
    &.guess-display-hidden {
      cursor: pointer;
      .top-guesses {
        margin-bottom: 0;
      }
    }
  }
}