body {
  margin: 0; }

#mutt-display {
  border: dashed blue 1px;
  padding: 2rem; }

.nav-bar {
  background-color: #EEE;
  padding: 0.5rem; }
  .nav-bar .muttwhat {
    font-size: 2rem;
    letter-spacing: 0.25rem;
    margin-left: 0.5rem; }
  .nav-bar .nav-link-list {
    float: right;
    margin-top: 0.5rem; }
  .nav-bar .nav-link {
    color: #444;
    text-decoration: none;
    margin-right: 1rem; }

.slideshow {
  width: 75%;
  height: 55vh; }
  .slideshow .slick-slider {
    height: 100%; }
    .slideshow .slick-slider .slick-track {
      height: 100%; }
  .slideshow .slick-list {
    height: 100%;
    padding: 0.5rem; }
    .slideshow .slick-list img {
      height: 100%;
      margin: 0 auto; }
  .slideshow .slick-next, .slideshow .slick-prev {
    background: #AAA; }
  .slideshow .mutt-name {
    text-align: center; }

.guess .guess-item {
  list-style: none; }

.mutton {
  border-radius: 3px; }

.button-multi .mutton {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }
  .button-multi .mutton:first-of-type {
    margin-left: 0; }
  .button-multi .mutton:last-of-type {
    margin-right: 0; }
