#mutt-display {
  .slide-row {
    height: 52vh;
    padding-top: 1rem;
    .top-guess-display-hidden {
      cursor: pointer;
    }
    .current-mutt-section {
      margin-top: 1rem;
    }
    .top-guess-display {
      border-radius: 3px;
      background-color: $apricot;
      padding: 0.5rem;
      color: #EEE;
      font-size: 1rem;
      ul {
        margin-left: 0;
        margin-bottom: 0;
      }
      .top-guesses {
        margin-bottom: 0;
      }
    }
    .top-guess-item {
      list-style: none;
      .guess-frequency {
        float: right;
      }
    }
  }
  .guess-row {
    height: 40vh;
    padding: 2rem;
  }
  .mutt-search-input {
    margin-bottom: 1rem;
  }
}