.nav-bar {
  height: 8vh;
  // background-color: $blueberry;
  // background-color: $nytblueberry;
  background-image: url("../images/black-fur.jpg");
  background-size: cover;
  padding: 0.5rem;
  color: #EEE;
  // color: #444;
  .muttwhat {
    font-size: 2rem;
    letter-spacing: 0.25rem;
    margin-left: 0.5rem;
  }
  .nav-link-list {
    float: right;
    margin-top: 0.5rem;
  }
  .nav-link {
    color: #EEE;
    text-decoration: none;
    margin-right: 2rem;
  }
}