<%= content_tag :div,
  id: "mutt-display",
  data: { mutts: @mutts, breeds: @breeds }.to_json do %>
  <% if flash[:error] %>
    <h3 class="error-message"><%= flash[:error] %></h3>
  <% end %>
  <%= javascript_pack_tag 'mutts' %>
<% end %>
