<div>
  <p>and here's mutts#index</p>

  <% if flash[:error] %>
    <h2><%= flash[:error] %></h2>
  <% else %>
    <%= react_component('MuttDisplay', { url: "/mutts", breeds: @breeds }, { id: "mutt-display" } ) %>
  <% end %>

</div>
