<div>
  <p>and here's mutts#index</p>

  <% if flash[:error] %>
    <h2><%= flash[:error] %></h2>
  <% else %>
    <%= react_component('Carousel', { photo: @photos.first.image.url(:large) } ) %>
  <% end %>

</div>