<div id="mutt-display">
  <% if flash[:error] %>
    <h3 class="error-message"><%= flash[:error] %></h3>
  <% end %>
  <%= react_component('MuttDisplay', props: { mutts: @mutts, breeds: @breeds }) %>
</div>
