.slideshow {
  margin: 0 auto;
  width: 75%;
  .slick-list {
    padding: 0.5rem;
    img {
      height: 100%;
      margin: 0 auto;
    }
  }
  .slick-next, .slick-prev {
    background: #AAA;
  }
}